<template>
  <div class="flex column">
    <div v-if="!hasSmsApiKey">
      <Setting/>
    </div>

    <div v-else class="flex column full-width">
      <BoxShadow>
        <TrackingTable
          :on-elements="{updateMessagesBtn: false}"
        />
      </BoxShadow>

      <SendSms
        v-if="!isMobile"
      />
    </div>
  </div>
</template>

<script>
import BoxShadow from "components/BoxShadow.vue";
import Cookie from "src/js/Cookie";
import {CK_KAVENEGAR_API} from "src/js/Consts";
import Setting from "pages/Setting.vue";
import TrackingTable from "components/TrackingTable.vue";
import {Screen} from "quasar";
import SendSms from "pages/SendSms.vue";

export default {
  name: "Home",

  mounted() {

  },

  computed: {
    hasSmsApiKey() {
      return Cookie.has(CK_KAVENEGAR_API);
    },

    isMobile() {
      return Screen.lt.sm
    }
  },

  components: {
    SendSms,
    TrackingTable,
    Setting,
    BoxShadow
  }
}
</script>

<style scoped>

</style>
