<template>
  <div class="flex column">
    <BoxShadow class="flex column">
      <CustomInput
        is-textarea
        label="متن پیام"
        v-model="form.message"
        maxlength="200"
      />

      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 q-mt-md">
          <CustomInput
            label="شماره همراه فرستنده"
            dense
            disable
            type="select"
            :options="senderNumberPhones"
            v-model="form.senderPhone"
          />
        </div>

        <div class="col-12 col-md-3 col-lg-2 q-mt-md q-mr-md-sm">
          <CustomInput
            label="شماره همراه گیرنده"
            dense
            mask="###########"
            v-model="form.receptorPhone"
          />
        </div>
      </div>

      <div class="row q-mt-md" dir="ltr">
        <div class="col-12 col-md-3 col-lg-2">
          <q-btn
            class="full-width"
            color="positive"
            label="ارسال"
            text-color="white"
            :loading="loading.sendBtn"
            @click="sendMessage"
          />
        </div>
      </div>
    </BoxShadow>
  </div>
</template>

<script>
import BoxShadow from "components/BoxShadow.vue";
import CustomInput from "components/CustomInput.vue";
import {ACT_SMSAPI} from "src/store/module/SmsApi";
import {ShowNotify} from "src/js/ShowNotify";
import Cookie from "src/js/Cookie";
import {CK_KAVENEGAR_API, SK_ALL_SMS} from "src/js/Consts";
import Storage from "src/js/Storage";

export default {
  name: "SendSms",

  data() {
    return {
      form: {
        message: '',
        receptorPhone: '',
        senderPhone: null,
      },

      senderNumberPhones: [
        '100047778',
        '2000500666',
        '10008663',
        '0018018949161',
      ],

      loading: {
        sendBtn: false
      }
    }
  },

  methods: {
    sendMessage() {
      if(!this.formValidation())
        return;

      const payload = {
        message: this.form.message,
        sender: this.form.senderPhone,
        receptor: this.form.receptorPhone,
      };

      this.loading.sendBtn = true;
      this.$store.dispatch(ACT_SMSAPI.SEND_SMS, payload)
        .then(response => {
          this.loading.sendBtn = false;

          let allSms = [];
          if(Storage.has(SK_ALL_SMS))
            allSms = Storage.get(SK_ALL_SMS);

          allSms = allSms.concat(response.data.entries);
          Storage.set(SK_ALL_SMS, allSms);

          ShowNotify({
            message: 'پیام ارسال شد',
            color: 'positive'
          })
        })
        .catch(error => {
          this.loading.sendBtn = false;
          ShowNotify({
            message: 'ارسال پیام با خطا مواجه شد',
            color: 'negative'
          })
        })
    },

    formValidation() {
      if(!Cookie.has(CK_KAVENEGAR_API)) {
        ShowNotify({
          message: 'گلید سرویس پیامک وارد نشده است',
          color: 'warning'
        });
        return false;
      }

      if(!this.form.message.trim()) {
        ShowNotify({
          message: 'متن پیام وارد نشده است',
          color: 'warning'
        });
        return false;
      }

      if(!this.form.senderPhone.trim()) {
        ShowNotify({
          message: 'شماره همراه فرستنده وارد نشده است',
          color: 'warning'
        });
        return false;
      }

      if(!this.form.receptorPhone.trim()) {
        ShowNotify({
          message: 'شماره همراه گیرنده وارد نشده است',
          color: 'warning'
        });
        return false;
      }

      return true;
    }
  },

  components: {CustomInput, BoxShadow}
}
</script>

<style scoped>

</style>
