<template>
  <div class="flex column">
    <BoxShadow class="flex column">
      <CustomInput
        label="کلید سرویس پیامک"
        dense
        v-model="form.apiKey"
        dire="ltr"
        is-textarea
      />

      <div
        dir="ltr"
        class="row q-mt-sm"
      >
        <div
          class="col-12 col-md-3 col-lg-2"
        >
          <q-btn
            label="تایید"
            color="positive"
            text-color="white"
            class="full-width"
            @click="setSmsApiKey"
          />
        </div>
      </div>

    </BoxShadow>
  </div>
</template>

<script>
import CustomInput from "components/CustomInput.vue";
import BoxShadow from "components/BoxShadow.vue";
import Cookie from "src/js/Cookie";
import {CK_KAVENEGAR_API} from "src/js/Consts";
import {ShowNotify} from "src/js/ShowNotify";

export default {
  name: "Setting",

  data() {
    return {
      form: {
        apiKey: ''
      }
    }
  },

  mounted () {
    if(Cookie.has(CK_KAVENEGAR_API))
      this.form.apiKey = Cookie.get(CK_KAVENEGAR_API)
  },

  methods: {
    setSmsApiKey() {
      if(!this.form.apiKey)
        return;

      Cookie.set(CK_KAVENEGAR_API, this.form.apiKey);
      ShowNotify({
        message: 'ثبت شد',
        color: 'positive'
      })
    }
  },

  components: {
    BoxShadow,
    CustomInput,
  }
}
</script>

<style scoped>

</style>
