<template>
  <div class="flex column">
    <BoxShadow>
      <TrackingTable/>
    </BoxShadow>
  </div>
</template>

<script>
import BoxShadow from "components/BoxShadow.vue";
import CustomTable from "components/CustomTable.vue";
import TrackingTable from "components/TrackingTable.vue";

export default {
  name: "Tracking",

  data() {
    return {
      dataList: [],
    }
  },

  methods: {
  },

  components: {
    TrackingTable,
    CustomTable,
    BoxShadow
  }
}
</script>

<style scoped>

</style>
