<template>
  <transition name="slide-up">
    <div
      v-if="show"
      class="rounded-borders q-pa-lg q-mb-lg shadow-3 full-width">
        <slot/>
    </div>
  </transition>
</template>

<script>
export default {
  name: "BoxShadow",

  data() {
    return {
      show: false
    }
  },

  mounted() {
    this.show = true;
  }
}
</script>

<style scoped>

.slide-up-enter-active {
  transition: all 500ms;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

</style>
