<template>
  <q-dialog
    v-model="modelValue"
    :persistent="!closable || showLoading"
  >
    <div
      class="flex column q-pa-lg relative-position bg-white"
      :class="cardClass"
    >
<!--      <div-->
<!--        style="height: 12px"-->
<!--        v-if="closable && showCloseBtn"-->
<!--        class="full-width relative-position q-mb-sm flex">-->
<!--        <q-space/>-->
<!--        <img-->
<!--          style="height: 12px; width: 12px;"-->
<!--          @click="modelValue = false; $emit('close');"-->
<!--          src="~assets/images/home/popup/close.png">-->
<!--      </div>-->

      <div class="flex flex-center text-body1 text-center">
        <slot></slot>
      </div>

      <div
        v-if="showOkBtn || showCancelBtn"
        class="flex flex-center q-mt-lg">

        <q-btn
          v-if="showCancelBtn"
          style="min-width: 100px"
          flat
          :label="cancelBtnText"
          color="negative"
          class="cancelBtn q-mr-lg"
          @click="$emit('cancelBtn')"
        />

        <q-btn
          v-if="showOkBtn"
          style="min-width: 100px"
          flat
          :label="okBtnText"
          color="positive"
          class="okBtn"
          @click="$emit('okBtn')"
        />

      </div>
    </div>

  </q-dialog>
</template>

<script>

// emits : okBtn , cancelBtn , close

export default {
  name: "CustomModal",
  props: {
    modelValue: {
      default: false
    },
    showLoading: {
      default: false
    },
    closable: {
      default: true
    },
    showOkBtn:{
      type:Boolean,
      default: false
    },
    showCancelBtn:{
      type:Boolean,
      default: false
    },
    showCloseBtn:{
      default: true
    },
    okBtnText: {
      default: 'تایید'
    },
    cancelBtnText: {
      default: 'لغو'
    },
    cardClass: {
      default: 'card' // card - transparent - middle
    }
  },


  watch: {
    modelValue(val){
      this.$emit('update:modelValue', val);
    },
  }
}
</script>

<style scoped lang="scss">
.okBtn{
  background: rgba($positive, 0.2);
}
.cancelBtn{
  background: rgba($negative, 0.2);
}

.middle{
  background: rgba(255,255,255,0.4);
}

.transparent{
  background: rgba(255,255,255,0);
}

</style>
