<template>
  <div class="relative-position">
    <span class="label text-primary bg-white">
      {{label}}</span>

    <q-input
      v-if="type === 'text' || type === 'date' || type === 'time'"
      :dense="dense"
      :suffix="suffix"
      :readonly="type==='date' || type==='time'"
      :input-class="inputClass"
      :mask="mask"
      :autogrow="isTextarea"
      :maxlength="maxlength"
      :dir="dire"
      :type="isNumericType ? 'tel' : 'text'"
      :disable="disable"
      :placeholder="placeholder"
      autocomplete="off"
      borderless
      @click="inputClick"
      :class="{transparent: transparent, transBorder: transparent}"
      class="card q-px-sm input"
      v-model="model">
    </q-input>

    <q-dialog
      v-if="type === 'date'"
      v-model="showDateDialog">
      <q-date
        v-model="model"
        calendar="persian"
        @update:model-value="showDateDialog = false"
        today-btn
        :locale="faLocale"
      />
    </q-dialog>

    <q-dialog
      v-if="type === 'time'"
      dir="ltr"
      v-model="showTimeDialog">
      <q-time
        format24h
        v-model="model"
      >
        <q-btn
          label="تایید"
          flat
          color="primary"
          @click="showTimeDialog = false"
        />
      </q-time>
    </q-dialog>

    <q-select
      v-if="type === 'select'"
      behavior="menu"
      borderless
      :options="options"
      :option-value="optionValue"
      :option-label="optionLabel"
      class="card q-px-sm input"
      :class="{transparent: transparent, transBorder: transparent}"
      input-class="opa0"
      :hide-selected="options.length === 0"
      options-selected-class="select"
      emit-value
      map-options
      v-model="model"
      :dense="dense"
    />

  </div>
</template>

<script>

// type : 'text' , 'date' , select

export default {
  name: "CustomInput",

  data(){
    return{
      showDateDialog: false,

      showTimeDialog: false,

      faLocale: {
        days: ["يكشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه", "جمعه", "شنبه"],
        daysShort: ["ي", "د", "س", "چ", "پ", "ج", "ش"],
        months: ["فروردين", "ارديبهشت", "خرداد", "تير", "مرداد", "شهريور", "مهر", "آبان", "آذر", "دي", "بهمن", "اسفند"],
        monthsShort: ["فروردين", "ارديبهشت", "خرداد", "تير", "مرداد", "شهريور", "مهر", "آبان", "آذر", "دي", "بهمن", "اسفند"],
        firstDayOfWeek: 6, // 0-6, 0 - Sunday, 1 Monday, ...
        format24h: true,
        pluralDay: 'dias'
      }
    }
  },

  props: {
    //=============== global ===============
    label: {
      default: ''
    },
    dense: {
      type: Boolean,
      default: false
    },
    type: {
      default: 'text',
    },
    dire: {
      default: 'rtl'
    },
    disable: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      default: ''
    },
    transparent: {
      default: true
    },
    //=============== global ===============


    //=============== input ===============
    suffix: {
      default:''
    },
    inputClass: {
      default: ''
    },
    mask: {
      default: ''
    },
    maxlength: {
      default: ''
    },
    isTextarea: {
      default: false,
    },
    isNumericType: {
      type: Boolean,
      default: false
    },
    //=============== input ===============


    //=============== select ===============
    options: {
      default() {
        return {}
      }
    },
    optionValue: {
      default: 'ID',
    },
    optionLabel: {
      default: 'Title'
    },
    //=============== select ===============


    //-------- v-model ---------
    modelValue: {
      default: ''
    },
  },

  methods: {
    inputClick(){
      if(this.type === 'date')
        this.showDateDialog = true;
      else if(this.type === 'time')
      this.showTimeDialog = true;
    },

  },

  computed: {
    model: {
      get(){
        return this.modelValue
      },
      set(value){
        this.$emit('update:modelValue', value);
      }
    },
  }
}
</script>

<style scoped lang="scss">

.q-field__suffix{
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -khtml-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

.input{
  border-color: $grey-4;
}
.input:focus{
  background: #16C959;
}

.label{
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 12px;
  margin-top: -9px;
  color: $grey-8;
  padding-right: 5px;
  padding-left: 5px;
}

.card{
  border-radius: 4px!important;
}

.select{
  color: $primary;
  background: white;
}

.opa0{
  opacity: 0;
}

.transBorder{
  border: solid $primary 1px !important;
}

</style>
