<template>
  <div class="w-100">
    <!--    <div-->
    <!--        v-if="showTableFields"-->
    <!--        class="row q-mb-sm">-->
    <!--      <div class="col-12 col-sm-6">-->
    <!--        <span-->
    <!--            class="text-center w-300px">تعداد سطر قابل نمایش :</span>-->
    <!--        <b-form-select-->
    <!--            :options="perPageList"-->
    <!--            :text-field="'val'"-->
    <!--            :value-field="'val'"-->
    <!--            v-model="perPage"-->
    <!--            class="w-70px ml-2 h-35px"-->
    <!--        >-->
    <!--        </b-form-select>-->
    <!--      </div>-->
    <!--      <div-->
    <!--          class="col-12 col-sm-6 mt-2 mt-sm-0" dir="ltr">-->
    <!--        <input dir="rtl" class="form-control max-w-sm-200px max-w-100 h-35px"-->
    <!--               placeholder="جستجو" v-model="searchTxt">-->
    <!--      </div>-->

    <!--    </div>-->

    <div class="scrollType rounded-borders q-mb-sm" style="border: 1px #e7e7e7 solid">
      <table class="table full-width q-ma-none" :id="tableId">

        <thead class="bg-grey-3">
        <tr>
          <th v-for="hd in dataHeader">
            <span>{{ hd.label }}</span>
          </th>

          <th v-for="btn in btns">
            <span>{{ btn.label }}</span>
          </th>
        </tr>
        </thead>

        <tbody
          v-if="getSubDataList.length === 0"
          class="relative-position"
          style="height: 60px"
        >
          <span class="text-grey-5 absolute absolute-center">جدول خالی است</span>
        </tbody>

        <tbody
          v-else
        >
        <tr v-for="(rec, index) in getSubDataList">
          <td
            v-for="(hd, hdIndex) in dataHeader"
            :class="{'border-left-0': hdIndex === 0,
                  'border-right-0': hdIndex === dataHeader.length + btns.length - 1}"
          >
            <div
              v-if="hd.slot"
              class="d-flex flex-center"
            >
              <slot :name="hd.key" :obj="rec[hd.key]" :rec="rec"></slot>
            </div>
            <div
              v-else-if="hd.input"
              class="d-flex flex-center">
              <input
                class="form-control max-w-300px text-center"
                v-model="rec[hd.key]"
                @input="showTotal ? calcTotal(rec, hd) : ''"
              >
            </div>
            <div
              v-else
              class="flex flex-center q-pa-md">{{ getValue(rec, hd, index) }}
            </div>
          </td>

          <td
            v-for="(btn, index) in btns"
            :class="{'border-right-0': index === btns.length - 1}"
          >
            <div
              v-if="isShowBtn(btn, rec)"
              class="flex flex-center">
              <q-btn
                fab-mini
                :class="getBtn('btnClass', btn, rec)"
                @click="$emit(getBtn('event', btn, rec), rec)"
                :icon="getBtn('icon', btn, rec)"
              />
            </div>
          </td>

        </tr>
        <tr
          v-if="showTotal && dataList.length > 0"
        >
          <td
            v-for="(hd, index) in dataHeader"
            class="border-left-0 border-right-0"
          >
            <div
              v-if="index === 0"
              class="font-weight-boldest text-dark font-size-lg">
              مجموع:
            </div>
            <div
              v-if="hd.showTotal"
              class="d-flex flex-center">{{ setComma(getObjectByID(totals, hd.key, 'key').value) }}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div
      v-if="showTableFields"
      class="row" dir="ltr">
      <div
        class="col-12 col-sm-6 d-flex flex-row"
        dir="ltr"
      >
        <!--        <json-excel-->
        <!--            class="form-control btn w-100 w-sm-100px btn-outline-light"-->
        <!--            style="border: #e7e7e7 1px solid"-->
        <!--            :data="dataListExcel"-->
        <!--            :fields="getHeadersLabel"-->
        <!--            v-if="showExcelBtn"-->
        <!--        >-->
        <!--          دانلود اكسل-->
        <!--        </json-excel>-->
      </div>


      <!--      <div class="col-12 col-sm-6 mt-2 mt-sm-0" dir="rtl">-->
      <!--        <b-pagination-->
      <!--            v-model="currentPage"-->
      <!--            :per-page="perPage"-->
      <!--            :total-rows="dataList.length"-->
      <!--            :aria-controls="tableId"-->
      <!--        ></b-pagination>-->
      <!--      </div>-->
    </div>

  </div>
</template>


<!------------------ doc -------------------

    dataList: [ {...} ]

    dataHeader : [
      {
        key: '', // key of field in dataList
        label: '',
        optionMethodRecParam: bool // return record OR value
        optionMethod: function(value){...}
        options: ['comma', ...]
        input: bool
        showTotal: bool
        calcTotalMethod: function(item) {...}
      }
    ],

    // NOTE : object of btns has "event","icon","btnClass" OR JUST "optionMethod"
    btns:[
      {
        event: '', // pass by emit
        label: '', // table header
        icon: '',
        btnClass: '', // btn color (outline)

        key: '', // status key
        optionMethod: function(statusId){
            if(statusId === '...'){
                return {
                    event: '',
                    icon: '',
                    btnClass: '',
                }
            }
        },

        isShow(statusId) {
            return boolean
        }

      }
    ]


------------------ doc ------------------->

<!--
totals: [
  {
    key: '' //header key
    value: ''
  }
],
-->

<script>
import {ConvertTo, Numbers} from '../js/PersianTools';
import JsonExcel from "vue-json-excel";
import {UtilsMethods} from "../js/Utils";


export default {
  name: "customTable",

  data() {
    return {
      mainDataList: [],
      dataList: [], // search
      dataListExcel: [],

      dataHeader: [],
      btns: [],
      currentPage: 1,

      totals: [],

      perPageList: [
        {val: 5},
        {val: 10},
        {val: 20},
        {val: 30},
      ],
      perPage: 10,

      searchTxt: '',
    }
  },

  props: {
    // use for pagination
    tableId: {
      type: String,
      required: true,
    },

    showExcelBtn: {
      type: Boolean,
      default: true
    },

    showTableFields: {
      default: true
    },

    showTotal: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    getSubDataList() {
      if (!this.showTableFields)
        return this.dataList;

      var s = (this.currentPage * this.perPage) - this.perPage + 1;
      var e = this.currentPage * this.perPage;
      return this.dataList.slice(s - 1, e);
    },

    getHeadersLabel() {
      let headers = {};
      this.dataHeader.forEach(value => {
        headers[value.label] = value.key;
      });
      return headers;
    },

  },

  methods: {
    setDataList(list) {
      this.mainDataList = [...list];
      this.dataList = [...list];
      this.initDataListExcel();
    },
    setBtns(btnsList) {
      this.btns = btnsList;
    },
    setDataHeader(dataHeaderList) {
      this.dataHeader = dataHeaderList;
      if (this.showTotal && this.totals.length < this.dataHeader.length) {
        dataHeaderList.forEach(item => {
          const obj = {
            key: item.key,
            value: ''
          }
          this.totals.push(obj);
        })
      }
    },

    initDataListExcel() {
      this.dataListExcel = [];
      this.mainDataList.forEach((item, index) => {
        this.dataListExcel[index] = {};

        this.dataHeader.forEach(headerItem => {
          let value = this.getValueAccordingHeader(item, headerItem);
          this.dataListExcel[index][headerItem.key] = value;
        })
      })
    },

    getValue(rec, hd, index) {
      let value;
      value = this.getValueAccordingHeader(rec, hd);
      return value;
    },

    getValueAccordingHeader(rec, hd) {
      let value;
      if (hd['optionMethod']) {
        if (hd['optionMethodRecParam'] &&
          hd['optionMethodRecParam'] === true) {
          value = hd.optionMethod(rec);
        } else
          value = hd.optionMethod(rec[hd.key]);
      }

      if (hd['options']) {
        if (!value)
          value = rec[hd.key];

        for (let i = 0; i < hd['options'].length; i++) {
          const option = hd['options'][i];
          if (option === 'comma') {
            value = String(value).replace(/,/g, '')
            value = Numbers.methods.Pr2En(value, true);
          }
          if (option === 'gr2ja')
            value = ConvertTo.methods.toJalaliStr(value)
          if (option === 'ja2gr')
            value = ConvertTo.methods.toMiladiStr(value);
        }
      }

      if (!value) {
        value = rec[hd.key];
      }

      return value;
    },

    getBtn(attr, btnObject, rec) {
      if (!btnObject['optionMethod'])
        return btnObject[attr]
      else
        return btnObject.optionMethod(rec[btnObject.key])[attr]

    },

    calcTotal(rec, hd) {
      const hdKey = hd.key;
      var total = 0;

      this.dataList.forEach(item => {
        if (item[hdKey] && item[hdKey].length > 0 && /\D/g.test(item[hdKey])) {
          total = -1;
          return '';
        }

        if (hd.calcTotalMethod) {
          total += item[hdKey] ? hd.calcTotalMethod(rec) : 0;
        } else
          total += item[hdKey] ? parseInt(item[hdKey]) : 0;

      });
      if (total !== -1)
        UtilsMethods.methods.getObjectByID(this.totals, hdKey, 'key').value = total;
      else
        UtilsMethods.methods.getObjectByID(this.totals, hdKey, 'key').value = '';
    },

    calcTotalAllCol() {
      this.totals = this.totals.map(item => {
        return {
          key: item.key,
          value: ''
        };
      })

      this.dataList.forEach(rec => {
        this.dataHeader.forEach(hd => {
          if (hd['showTotal'] !== undefined && hd['showTotal']) {
            let value;
            if (hd['optionMethod']) {
              if (hd['optionMethodRecParam'] &&
                hd['optionMethodRecParam'] === true) {
                value = hd.optionMethod(rec);
              } else
                value = hd.optionMethod(rec[hd.key]);
            } else
              value = rec[hd.key];

            let total = UtilsMethods.methods.getObjectByID(this.totals, hd.key, 'key').value;
            value = !!parseInt(value) ? parseInt(value) : 0;
            total = !!parseInt(total) ? parseInt(total) : 0;

            UtilsMethods.methods.getObjectByID(this.totals, hd.key, 'key').value = total + value;
          }
        })
      });
    },

    isShowBtn(btnObj, rec) {
      if(btnObj['isShow'] !== undefined && !!btnObj['isShow'])
        return btnObj.isShow(rec[btnObj.key]);
      return true;
    },


    printLog(value) {
      console.log(value);
    }
  },

  watch: {

    searchTxt(val) {
      if (val === '') {
        this.dataList = [...this.mainDataList]
        return;
      }

      this.dataList = [];
      for (let i = 0; i < this.mainDataList.length; i++) {
        const obj = this.dataListExcel[i];

        for (let j = 0; j < this.dataHeader.length; j++) {
          const hd = this.dataHeader[j];
          const key = hd.key;

          if (String(obj[key]).includes(val)) {
            this.dataList.push(this.mainDataList[i]);
            break;
          }
        }
      }
    },

    dataList() {
      if (Object.keys(this.dataHeader).length > 0) {
        this.calcTotalAllCol();
      }
    },

    dataHeader() {
      if (this.totals.length === 0) {
        this.calcTotalAllCol();
      }
    },

  },

  components: {
    JsonExcel
  },

  mixins: [
    UtilsMethods, Numbers
  ],

  mounted() {
  }
}
</script>

<style scoped>

table {
  border-collapse: collapse;
}

table th span {
  height: 40px;
  min-width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.scrollType {
  overflow-x: auto;
}

table td {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

table td:first-child {
  border-right: none !important;
}

table td:last-child {
  border-left: none !important;
}

table tr:last-child td {
  border-bottom: 0;
}

span, label, button, a, h1, h2, h3, h4, h5, h6 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

</style>
