<template>
  <div class="flex column">
<!--    <div class="row">-->
<!--      <div class="col-12 col-md-3 col-lg-2">-->
<!--        <CustomInput-->
<!--          type="date"-->
<!--          dense-->
<!--          label="تاریخ شروع"-->
<!--          v-model="this.form.date"-->
<!--        />-->
<!--      </div>-->
<!--    </div>-->

    <CustomTable
      tableId="tracking-table"
      ref="table"
      class="q-mt-md full-width"
      @trackingTableDeleteBtn="tableDeleteMessageBtn"
    />

    <div
      v-if="allMessagesList.length > 0"
      class="row q-col-gutter-sm" dir="ltr">
      <div
        v-if="_on.updateMessagesBtn"
        class="col-12 col-md-4 col-lg-3">
        <q-btn
          label="بروزرسانی"
          color="primary"
          text-color="white"
          class="full-width"
          @click="getAllMessages"
        />
      </div>

      <div
        v-if="_on.deleteFinalMessagesBtn"
        class="col-12 col-md-4 col-lg-3">
        <q-btn
          label="حذف پیام های نهایی شده"
          color="negative"
          text-color="white"
          class="full-width"
          @click="modals.deleteFinalMessages = true"
        />
      </div>

      <div
        v-if="_on.deleteReceivedMessagesBtn"
        class="col-12 col-md-4 col-lg-3">
        <q-btn
          label="حذف پیام های به مقصد رسیده"
          color="negative"
          text-color="white"
          class="full-width"
          @click="modals.deleteReceivedMessages = true"
        />
      </div>
    </div>


    <CustomModal
      v-model="modals.deleteOneMessage"
      show-ok-btn
      show-cancel-btn
      @close="modals.deleteOneMessage = false"
      @cancelBtn="modals.deleteOneMessage = false"
      @okBtn="deleteMessage"
    >
      <span>آیا از حذف پیام اطمینان دارید؟</span>
    </CustomModal>


    <CustomModal
      v-model="modals.deleteReceivedMessages"
      show-ok-btn
      show-cancel-btn
      @close="modals.deleteOneMessage = false"
      @cancelBtn="modals.deleteOneMessage = false"
      @okBtn="deleteReceivedMessages"
    >
      <span>آیا از حذف پیام های به مقصد رسیده اطمینان دارید؟</span>
    </CustomModal>


    <CustomModal
      v-model="modals.deleteFinalMessages"
      show-ok-btn
      show-cancel-btn
      @close="modals.deleteOneMessage = false"
      @cancelBtn="modals.deleteOneMessage = false"
      @okBtn="deleteFinalMessages"
    >
      <span>آیا از حذف پیام های نهایی شده اطمینان دارید؟</span>
    </CustomModal>
  </div>
</template>

<script>
import CustomTable from "components/CustomTable.vue";
import {ConvertTo} from "src/js/PersianTools";
import CustomInput from "components/CustomInput.vue";
import {ACT_SMSAPI} from "src/store/module/SmsApi";
import {UtilsMethods} from "src/js/Utils";
import Storage from "src/js/Storage";
import {SK_ALL_SMS} from "src/js/Consts";
import {SmsStatus} from "src/js/Status";
import CustomModal from "components/CustomModal.vue";
import {ShowNotify} from "src/js/ShowNotify";

export default {
  name: "TrackingTable",

  data() {
    return {
      allMessagesList: [],
      tableHeader: [],
      tableBtns: [],

      SI: {
        checkStatus: -1,
      },

      modals: {
        deleteOneMessage: false,
        deleteFinalMessages: false,
        deleteReceivedMessages: false,
      },
      selectedMessage: {},

      form: {
        date: ''
      },

    }
  },

  created() {
    this.tableHeader = [
      {
        key: 'message',
        label: 'متن پیام'
      },
      {
        key: 'sender',
        label: 'ارسال کننده'
      },
      {
        key: 'receptor',
        label: 'دریافت کننده'
      },
      {
        key: 'status',
        label: 'وضعیت',
        optionMethod(value) {
          return SmsStatus(value)
        }
      },
    ];

    this.tableBtns = [
      {
        label: 'حذف',
        event: 'trackingTableDeleteBtn',
        icon: 'mdi-trash-can-outline',
        btnClass: 'bg-negative text-white',

        key: 'status',
        isShow(statusId) {
          return statusId === 6 || statusId > 10;
        }
      }
    ];

    // this.SI.checkStatus = setInterval(() => {
    //   this.checkStatus()
    // }, 3000)
  },

  mounted() {
    this.form.date = UtilsMethods.methods.getDayDate(false, -1)
    this.getAllMessages();

    this.initTable();
  },

  methods: {
    getAllMessages() {
      let startTs = new Date(ConvertTo.methods.toMiladiStr(this.form.date)).getTime()/1000;

      const payload = {
        startDate: startTs,
      }
      this.$store.dispatch(ACT_SMSAPI.RECEIVE_SMS, payload)
        .then(response => {
          this.allMessagesList = response.entries;
          this.initTable();
        })
        .catch(error => {
          this.allMessagesList = Storage.get(SK_ALL_SMS);
          this.initTable()
        })
    },

    initTable() {
      const table = this.$refs.table;

      table.setDataList(this.allMessagesList);
      table.setDataHeader(this.tableHeader);
      table.setBtns(this.tableBtns);
    },

    checkStatus() {
      let allMessages = [];
      if(Storage.has(SK_ALL_SMS))
        allMessages = Storage.get(SK_ALL_SMS);

      let tempAllMessages = JSON.parse(JSON.stringify(allMessages))

      allMessages.forEach(async (item, _, arr) => {
        try {
          let response = await this.$store.dispatch(ACT_SMSAPI.CHECK_STATUS_SMS, {messageId: item.messageid});
          let MessagesStatus = response.data.entries[0];

          Object.assign(item, MessagesStatus);
          this.allMessagesList = JSON.parse(JSON.stringify(arr));

          Storage.set(SK_ALL_SMS, arr);
          this.initTable();

        }catch (e) {}
      })

    },

    tableDeleteMessageBtn(item) {
      this.selectedMessage = item;
      this.modals.deleteOneMessage = true;
    },

    deleteMessage() {
      for (let i = 0; i < this.allMessagesList.length; i++) {
        if(this.allMessagesList[i].messageid === this.selectedMessage.messageid) {
          this.allMessagesList.splice(i, 1);
          Storage.set(SK_ALL_SMS, this.allMessagesList)
        }
      }

      this.modals.deleteOneMessage = false;
      this.getAllMessages();
    },

    deleteReceivedMessages() {
      let count = 0;
      for (let i = 0; i < this.allMessagesList.length; i++) {
        if(this.allMessagesList[i].status === 10) {
          i--;
          count++;
          this.allMessagesList.splice(i, 1);
          this.initTable();
          // Storage.set(SK_ALL_SMS, this.allMessagesList)
        }
      }

      this.modals.deleteReceivedMessages = false;

      if(count === 0) {
        ShowNotify({
          message: 'موردی یافت نشد',
          color: 'info'
        });
        return;
      }

      ShowNotify({
        message: 'تعداد ' + count + ' پیام حذف شد',
        color: 'positive'
      });
    },

    deleteFinalMessages() {
      let count = 0;
      for (let i = 0; i < this.allMessagesList.length; i++) {
        let msg = this.allMessagesList[i];
        if(msg.status === 6 || msg.status > 10) {
          i--;
          count++;
          this.allMessagesList.splice(i, 1);
          this.initTable();
          // Storage.set(SK_ALL_SMS, this.allMessagesList)
        }
      }

      this.modals.deleteFinalMessages = false;

      if(count === 0) {
        ShowNotify({
          message: 'موردی یافت نشد',
          color: 'info'
        });
        return;
      }

      ShowNotify({
        message: 'تعداد ' + count + ' پیام حذف شد',
        color: 'positive'
      });
    }
  },

  unmounted() {
    clearInterval(this.SI.checkStatus)
  },

  computed: {
    _on() {
      let showElements = {
        deleteReceivedMessagesBtn: true,
        deleteFinalMessagesBtn: true,
        updateMessagesBtn: true,
      }
      return Object.assign(
        showElements,
        this.onElements
      )
    }
  },

  props: {
    onElements: {
      default() {
        return {}
      }
    }
  },

  components: {
    CustomModal,
    CustomInput,
    CustomTable
  },
}
</script>

<style scoped>

</style>
