@font-face {
  font-family: 'Vazir-Bold';
  src: url('src/assets/font/Vazir-Bold-FD-WOL.woff2') format('woff2'),
  url('src/assets/font/Vazir-Bold-FD-WOL.woff') format('woff'),
  url('src/assets/font/Vazir-Bold-FD-WOL.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir-Medium';
  src: url('src/assets/font/Vazir-Medium-FD-WOL.woff2') format('woff2'),
  url('src/assets/font/Vazir-Medium-FD-WOL.woff') format('woff'),
  url('src/assets/font/Vazir-Medium-FD-WOL.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: Vazir-Medium;
}

