<template>
  <router-view/>
</template>

<script>
import { defineComponent } from 'vue'
import 'src/css/Custsom.scss'
import "../node_modules/quasar/dist/quasar.addon.prod.css";


export default defineComponent({
  name: 'App',
})
</script>

<style>

</style>
