<template>
  <q-layout view="hHr lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <span class="text-h6">
          پنل پیامک
        </span>

        <transition name="slide">
          <div
            v-if="!!remainCredit && !isMobile"
            class="rounded-borders bg-white q-pa-xs q-px-sm q-ml-lg">
            <span
              class="text-primary"
              dir="rtl">
              میزان اعتبار:
              {{setComma(remainCredit)}}
              ريال
            </span>
          </div>
        </transition>

        <q-space/>

        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="toggleRightDrawer" />
      </q-toolbar>
    </q-header>

    <q-drawer
      show-if-above
      v-model="rightDrawerOpen"
      side="right" bordered>

      <div>
        <q-list>
          <q-item
            v-if="!!remainCredit && isMobile">
            <div
              class="rounded-borders bg-primary q-pa-xs q-px-sm q-my-sm">
                <span
                  class="text-white"
                  dir="rtl">
                  میزان اعتبار:
                  {{setComma(remainCredit)}}
                  ريال
                </span>
            </div>
          </q-item>

          <div
            v-if="!!remainCredit && isMobile"
            style="height: 1px" class="full-width bg-primary"/>

          <q-item
            v-for="item in menu"
            class="flex row items-center"
            dir="rtl"
            v-ripple
            clickable
            @click="switchRoute(item)"
          >
            <span class="text-primary text-subtitle1">
                {{item.title}}
            </span>
          </q-item>
        </q-list>
      </div>

      <!-- drawer content -->
    </q-drawer>

    <q-page-container>
      <router-view dir="rtl" class="q-pa-md" />
    </q-page-container>

  </q-layout>
</template>

<script>
import { ref } from 'vue'
import {ACT_SMSAPI} from "src/store/module/SmsApi";
import {Numbers} from "src/js/PersianTools";
import {Screen} from "quasar";

export default {
  setup () {
    const rightDrawerOpen = ref(false)

    return {
      rightDrawerOpen,
      toggleRightDrawer () {
        rightDrawerOpen.value = !rightDrawerOpen.value
      }
    }
  },

  data() {
    return {
      menu: [
        {
          routeName: 'home',
          title: 'داشبورد'
        },
        {
          routeName: 'setting',
          title: 'تنظیمات'
        },
        {
          routeName: 'sendSms',
          title: 'ارسال پیامک'
        },
        {
          routeName: 'tracking',
          title: 'پیگیری'
        },
      ],

      remainCredit: '',
    }
  },

  methods: {
    switchRoute(item) {
      this.$router.push({name: item.routeName})
    },

    getPanelInfo() {
      this.$store.dispatch(ACT_SMSAPI.GET_SMS_PANEL_INFO)
        .then(response => {
          this.remainCredit = response.data.entries.remaincredit;
        })
        .catch(error => {})
    }
  },

  computed: {
    isMobile() {
      return Screen.lt.sm
    }
  },

  created() {
    this.getPanelInfo();
  },

  mixins: [
    Numbers
  ]
}
</script>

<style>
.slide-enter-active {
  transition: all 500ms;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}
</style>
